html{
	background:url(../img/office-opt.jpg) no-repeat center fixed;
	background-size:cover;
	font-family: 'Raleway', sans-serif;
}

#wrapper{
	margin:4% auto;
	text-align:center;
}

h1, h2, p, span{
	background-color:white;
	opacity:0.9;
	padding:2%;
}

h1{
	font-size:4em;
	display:inline-block;	
}

#whatido{
	margin-left:10%;
}

.panel{
	margin:3% 5% 0 2%;
	width:40%;
	float:left;
}

a:link{
	color:#008B8B;
}

a:visited{
	color:#5F9EA0;
}

a:hover{
	color:#DC143C;
}

a{
	transition: all 0.2s;
}


p{
	font-size:2em;
	margin:10%;

}

h2{

	font-size:3em;
}

.smaller{
	font-size:1em;
}

.video-container{
	width: 150px;
	height: 100px;
	display: inline-block;
	background: #FFF;
	background-size:cover;
	position: relative;
	opacity: 0.9;
}

.clouds{
	background: url('../img/clouds-thumb.jpg');
}
.between{
	background: url('../img/between-thumb.jpg');
}
.howl{
	background: url('../img/howl-thumb.jpg');
}

.video-link{
	display:block;
	border-radius: 50%;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	width: 40px;
	margin:auto;
	position: absolute;
	height: 40px;
	box-shadow: 0 0 0 3px #fff;
	background-size: 11px 12px;
	background-color: transparent;
	color:transparent !important;
	background: rgba(0,0,0,.30) url('../img/play.svg') 55% 50% no-repeat;
}

@media (max-width: 600px){
	.panel{

	width:auto;
	float:none;
}
}
/* clearfix */
  
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
}