$max-opacity: 0.95;
$header-starting-position: -170px;

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

html {
	background:url(../img/office-opt.jpg) no-repeat center fixed;
	background-size:cover;
	font-family: 'Raleway', sans-serif;
}

#wrapper {
	margin:4% auto;
	text-align:center;
}

h1, h2, p, span{
	background-color:white;
	opacity:$max-opacity;
	padding:2%;
	margin: 0;
	font-weight: normal;
}

h1{
	font-size:4em;
	display:inline-block;
	opacity: 0;
	transform: translateY($header-starting-position);
	margin: 10px;
}

#whatido{
	margin-left:10%;
	overflow: auto;
}

.panel{
	margin:0 5% 0 2%;
	width:40%;
	float:left;
}

a:link{
	color:#008B8B;
}

a:visited{
	color:#5F9EA0;
}

a:hover{
	color:#DC143C;
}

a{
	transition: all 0.2s;
}


p{
	font-size:2em;
	margin:10%;

}

h2{

	font-size:3em;
}

@media (max-width: 600px){
	.panel {
	  width:auto;
	  float:none;
  }
}

/* animation */
h1 {
	transform: translateY($header-starting-position);
}

#left {
	transform: translateX(-150%);
}

#right {
	transform: translate(150%);
}

#followme {
	transform: translateY(300px);
}

@keyframes appear-from-top {
	from {
		transform: translateY($header-starting-position);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: $max-opacity;
	}
}

@keyframes appear-from-left {
	from {
		transform: translateX(-150%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: $max-opacity;
	}
}

@keyframes appear-from-right {
	from {
		transform: translateX(150%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: $max-opacity;
	}
}

@keyframes appear-from-bottom {
	from {
		transform: translateY(300px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: $max-opacity;
	}
}

$global-timing: 1s;

.appear-from-top {
	animation: appear-from-top 2s forwards;
}
.appear-from-left {
	animation: appear-from-left $global-timing forwards;
	animation-delay: .3s;
}
.appear-from-right {
	animation: appear-from-right $global-timing forwards;
	animation-delay: .6s;
}
.appear-from-bottom {
	animation: appear-from-bottom $global-timing forwards;
	animation-delay: .9s;
}

@keyframes fade-from-top {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: $max-opacity;
		transform: translateY(0);;
	}
}

#whatido p {
	opacity: 0;
	margin: 20px;
}

.fade-from-top {
	opacity: 0;
	transform: translateY(-50px);
	animation: fade-from-top forwards .3s;
}

@import 'loader';
